.tituloContratarServicio {
  text-align: center;
  margin: 2rem 0;
}
.pasos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}
.paso2:disabled {
  background-color: red;
}

.espacio {
  display: flex;
  align-items: center;
  justify-content: center;
}

.numero {
  display: flex;
  background-color: blue;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: 0 10px;
}
.disabled {
  color: gray;
  opacity: 0.5;
  cursor: not-allowed;
}
