* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #323232;
}
body {
  line-height: 1.6;
}
.layout {
  min-height: 100vh; /* 🔥 ocupa toda la pantalla */
  display: flex;
  flex-direction: column;
}

.navBar {
  width: 80%;
  margin: 0 auto;
}

.main {
  flex: 1; /* 🔥 empuja el footer abajo */
  width: 100%;
  max-width: 1200px;
  margin: 1.5rem auto;
  transition: transform 0.4s ease;
  margin-top: 70px; /* ajustalo a la altura real del navbar */
}
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s ease;
}

.revealVisible {
  opacity: 1;
  transform: translateY(0);
}

/* SOLO MOBILE */
@media (max-width: 768px) {
  .mainAbierto {
    transform: translateY(160px);
  }
}
html {
  background: #f5f7fa;
}

.footer {
  margin-top: auto; /* 🔥 CLAVE */
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
